# Flutter/Dart 工具生成的缓存与构建产物
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE 与编辑器配置文件
.idea/
*.iml
*.iws
*.ipr
.vscode/

# 操作系统生成的隐式文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android 产物
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS 产物
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Pods/