.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
functions/dist
.idea/
*.iml
*.iws
*.ipr
.vscode/


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release

ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Pods/
node_modules/
.eslintcache
node_modules

# Firebase Secrets
functions/firebase-adminsdk.json
functions/.env
