{
  "apiGatewayUrl": "https://YOUR_API_GATEWAY_URL/api",
  "localEmulatorUrl": "http://10.0.2.2:5001/YOUR_PROJECT_ID/us-central1/api",
  "firebaseApiKey": "YOUR_FIREBASE_API_KEY",
  "googleMapsApiKey": "YOUR_GOOGLE_MAPS_API_KEY"
}
